@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: grey; */

}

.hero {
    position: relative;
    /* max-width: 1200px; */
    height: 55vh;
    background: url(./images/hero.jpg) no-repeat center 20% fixed;
    background-size: cover;
    padding-left: 2.5em;
    padding-right: 2.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
  
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
}

.hero-content {
    /* place-self: bottom; */
    position: relative;
    z-index: 1;
    color: #fff;
    
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.hero-content h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 2.2em;
    line-height: 32px;
    
    /* or 56% */
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.045em;
    
    color: #FFFFFF;
}
  
.hero-content a {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 20px;

    /* identical to box height, or 143% */
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}
  
.hero-content a:hover{
    text-decoration: dotted;
}

.search-box{
    background-color: #fff;
    position: absolute;
    padding-left: 11px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* padding: 11px; */
    width: fit-content;
    align-self: auto;
    /* margin: 45vh; */
    border-radius: 6px;
border: 1px solid #D1D5DB;

/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-box input{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;


    /* white */
    background: #FFFFFF;
    padding: 11px;
    /* gray/300 */
    border: none;
    width: 270px;
    line-height: 100%;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    outline-style: none;
}


.search-box button{
    padding: 11px 11px 11px 17px;
    gap: 8px;
    
    width: 120px;
    /* height: 100%; */

    background: #F9FAFB;

    /* gray/300 */
    border: none;
    border-left: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;

    /* Inside auto layout */
    flex: none; 
     order: 1;
    align-self: stretch;
    flex-grow: 0;
}